{%extends "base.html"%}
{%block links%}
{%endblock%}
{%block title%}Anime{%endblock%}
{%block content%}
<div class="card">
  <img src="{{url}}" class="card-img-top" id="waifuImage" alt="Fissure in Sandstone"/>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a align="center" href="/waifu" class="btn btn-primary">Next</a>
  </div>
</div>
{%endblock%}